<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DANG KY</title>
  </head>
  <body>
    <form  action="http://localhost:3000/mail" method="post">
      <input type="text" name="ten" placeholder="username"><br>
      <input type="text" name="email" placeholder="email"><br>
      <input type="text" name="password" placeholder="password" ><br>
      <input type="submit" value="DANG KY" >
    </form>
  </body>
</html>
